__pycache__/
*.egg-info/
dados/*
*.duckdb
logs/
!dados/dim_margem_ncm_utf8.csv
!dados/catmats/
!dados/catmats/catmats_api.csv

# python environments
/dbt-env
/airflow-env
env/

# dbt
dbt/dbt_packages/
dbt/target/
dbt/logs/
dbt/profiles.yml
dbt/.user.yml

# Segredos
.segredos*
!.segredos_template.yml

# DuckLake local
meta.ducklake
meta.ducklake.wal
ducklake_session.duckdb

# Dados locais
colibri-arquivos/

# MacOS
.DS_Store
